.boxCompoForCDC{
    margin: 20px;
    padding: 6px;
    box-shadow: 0 0 6px rgba(139, 0, 0, 0.274);
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    word-spacing: 3px;
    line-height: 28px;
    color: darkred;
    text-align: center;
    border-radius: 3px;
}

.boxCompoForCDC ul{
    list-style-type: none;
}