.gridStyle {
    display: grid;
    grid-template-columns: repeat(7, auto);
    font-size: 0.76em;
    font-weight: 500;
    grid-column-gap: 7px;
    margin-bottom: 7px;
}

.gridsContainer {
    width: 100vw;
    overflow-x: auto;
    margin-top: 10px;
    transition: all 0.5s;
}

.gridBox {
    width: 21vw;
    /* height: 7vh; */
    min-height: 48px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* padding-left: 4px; */
    background-color: ghostwhite;
    border-radius: 3px;
    padding: 4px;
}

/* .gridBox:nth-child(odd){
    background: lavenderblush;
}

.gridBox:nth-child(odd) {
    background-color: white;
} */

.mainGridHeader {
    position: sticky;
    left: 0;
    background: lavenderblush;
}

.gridMain {
    background-color: lavenderblush !important;
    font-weight: 700;
    color: #464242;
    justify-content: flex-start;
    text-align: left;
    /* align-items: center; */
}

.titleGridContainer {
    width: 25vw;
    padding-right: 22px;
}

.subTitlMin{
    justify-content: flex-end !important;
}

.miniDelta{
    height: 18px;
    /* margin-top: 12%; */
}

.onlyState{
    align-items: center;
}