.gridStyle {
    display: grid;
    grid-template-columns: repeat(7, auto);
    font-size: 0.76em;
    font-weight: 500;
    grid-column-gap: 7px;
    margin-bottom: 7px;
}

.districtGridStyle {
    grid-template-columns: repeat(6, auto) !important;
}

.gridsContainer {
    width: 100%;
    overflow-x: auto;
    margin-top: 10px;
    transition: all 0.5s;
    height: 100%;
}

.filterDeo{
    transition: all 0.5s;
}

.gridBox {
    width: 21vw;
    /* height: 7vh; */
    min-height: 48px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* padding-left: 4px; */
    background-color: ghostwhite;
    border-radius: 3px;
    padding: 4px;
    box-shadow: 0 0 3px #ffd0dfe0;
}

/* .gridBox:nth-child(odd){
    background: lavenderblush;
}

.gridBox:nth-child(odd) {
    background-color: white;
} */

.mainGridHeader {
    position: sticky;
    left: 0;
    background: lavenderblush;
}

.gridMain {
    background-color: lavenderblush !important;
    font-weight: 700;
    color: #464242;
    justify-content: flex-start;
    text-align: left;
    /* align-items: center; */
}

.titleGridContainer {
    width: 25vw;
    padding-right: 22px;
}

.subTitlMin {
    justify-content: flex-end !important;
}

.miniDelta {
    height: 18px;
    /* margin-top: 12%; */
}

.onlyState {
    align-items: center;
}

.flipItOver {
    position: relative;
    animation: flipItOver 0.8s linear;
    /* transition: all 0.5s; */
}

@keyframes flipItOver {
    0% {
        transform: rotateX(0deg);
        opacity: 0;
    }

    /* 25% {
        transform: rotateX(90deg);
    }

    50% {
        transform: rotateX(180deg);
    }*/


    100% {
        transform: rotateX(360deg);
        opacity: 0.7;
    }
}