.input_search {
    outline: none;
    box-shadow: 0 0 3px #90010240;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    width: 70vw;
    transition: all 0.3s;
    display: flex;
    height: 34px;
    max-width: 328px;
}

.input_search:focus {
    box-shadow: 0 0 8px #01010134;
    transition: all 0.3s;
}

.searchDisplayer {
    position: absolute;
    width: 100%;
    height: 43vh;
    z-index: 4;
    background-color: transparent;
    top: 20vh;
    display: flex;
    justify-content: center;
    top: 36px;
}

.searchBox {
    background-color: white;
    /* height: 74vw; */
    width: 74vw;
    /* box-shadow: 0 4px 7px #ffa9c6a1; */
    text-align: left;
    padding: 15px;
    overflow: auto;
    overflow-x: hidden;
    padding: 7px;
    border-radius: 5px;
    padding-top: 0;
    animation: searchbox 1s;
   
    position: relative;
}

@keyframes searchbox{
    0%{
        bottom: -15px;
    }
    100%{
        bottom: 0;;
    }
}

.eachPlaceDisplay {
    /* padding: 0px; */
    box-shadow: 0 0px 2px #eca3bc73;
    height: 47px;
    overflow-wrap: break-word;
    /* margin-bottom: 10px; */
    padding: 0 10px;
    min-height: 54px;
    font-weight: 500;
    color: #5d1212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
}

.insideInput {
    border: none;
    outline: none;
    width: 93%;
    padding-left: 7px;
    height: 100%;
    color: #880101;
    letter-spacing: 0.74px;
}

.absoluteWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.times {
    font-weight: 500;
    color: #5d1212;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dfdetails {
    height: 7vh;
    min-height: 37px;
    margin: 10px auto;
    margin-bottom: 0;
}

.place_spc {
    width: 80%;
}

.code_spc {
    background: bisque;
    color: #b95252;
    /* padding: 0 9px; */
    border-radius: 3px;
    /* font-weight: 100; */
    margin-left: 4px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding: 2px 0;
}

.codeArrow {
    transform: rotate(-90deg);
    font-size: 1.4em;
    color: brown;
}

.playDisplyer{
    z-index: 7;
    position: relative;
}

.playDisplyer:active{
    display: none;
}

.zIndex6{
    z-index: 6;
}