.qdvc1 {
    display: grid;
    position: relative;
    top: -1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4px;
    background-color: white;
    height: 6.5vh;
    min-height: 41px;
}

.qdvc_ic {
    text-align: center;
    box-shadow: 0 3px 4px #f3c8d5bd;
    font-size: 0.8em;
    padding: 8px 0;
    font-weight: 100;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qvdc_nm {
    font-weight: 500;
    /* font-size: 1em; */
}

.qvdc_title {}

.tab_content {
    display: flex;
    justify-content: center;

}

.tab,
.selectedTab {
    margin-right: 6px;
    width: 23vw;
    font-size: 0.7em;
    padding: 4px;
    box-shadow: 0 -1px 1px #e26565db;
    border-radius: 2px;
    cursor: pointer;
    min-width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-bottom: 1px solid white;
    font-weight: 500;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}

.selectedTab {
    background-color: #e26565;
    color: white;

}

.animateTab {
    animation: quickTabSelection 0.5s;
    position: relative;
}

@keyframes quickTabSelection {
    0% {
        left: -8px;
    }

    25% {
        left: 6px;
    }

    50% {
        left: -4px;
    }

    75% {
        left: 2px;
    }

    100% {
        left: -0px;
    }
}