#map {
    /* width: 1300px; */
    border-radius: 6px;
    margin: 20px;
    height: 40vh;
    margin: 2vh auto;
    cursor: unset;
    width: 80vw;
}

.wmcc1 {
    height: 60vh;
    min-height: 382px;
    background: white;
}

.infoContent{
    font-size: 0.6em;
    text-align: center;
    color: #c12727;
}