#cvhiu1 {
    padding: 15px;
}

.displayjoe {
    padding: 0 15px;
    /* background: #fff9fb; */
}

.main_tile {
    width: 100%;
    height: 100%;
    /* background: #5b89b14a; */
    position: absolute;
    z-index: 1;
    border-radius: 6px;
    animation: main_tile 1s;
}

@keyframes main_tile{
    0%{
        left: 16px;
        width: 110%;
    }
    25%{
        left: -12px;
    }
    50%{
        left: 8px;
    }
    75%{
        left: -4px;
    }
    100%{
        left: 0;
        width: 100%;
    }
}

.absolutePosition{
    position: absolute;
    z-index: 5;
}

.checkSorcInfo{
    padding: 15px;
    display: block;
    padding-bottom: 0;
}

.link{
    text-decoration: underline;
}

.activeTile:active{
    background-color: #d5d5fb80;
}


.recoveredTile:active{
    background-color: #bafbbaa1;
}


.confirmTile:active{
    background-color: #ff000021;
}


.deceasedTile:active{
    background-color: #96959529;
}

#miniLineCharts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4px;
    margin-top: 10px;
}


.miniLineCharts_qdvc{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px #ff00002b;
    background-color: white;
}

.miniLineCharts_qdvc:nth-child(2){
    box-shadow: none;

}

