.hc1 {
    height: 20vh;
    background-image: url('/imgs/1.jpg');
    background-size: cover;
    background-color: rgb(0 0 0 / 37%);
    background-blend-mode: color;
    position: absolute;
    width: 100%;
    padding: 2.5vh;
    display: flex;
    justify-content: space-between;
}

.hc2 {
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: #5d1212;
    z-index: 2;
    box-shadow: 0px 0px 20px 4px #5d1212;
    padding: 2.5vh;
}

.my_ic1 {
    font-size: 2em;
    color: white;
    cursor: pointer;

}

.hc3 {
    height: 10vh;
}

.hc4 {
    height: 35vh;
    display: flex;
    justify-content: center;
}

.hc5 {
    height: 30vh;
}

.hc6 {
    height: 10vh;
    text-align: center;
}

.hc7 {
    height: 10vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.btn1 {
    width: 40vw;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 11px;
    margin-top: 10px;
    background: #500a0a;
    color: white;
    letter-spacing: 1.3px;
    outline: none;
    cursor: pointer;
    outline: none;
    font-size: 0.7em;
}

.ver,
.ver1 {
    color: wheat;
    font-size: 0.65em;
}

.ver1 {
    font-size: 0.65em;
    color: #9e0e0e;
}

.my_ic2 {
    color: #901a1a;
    padding: 2vh;
    font-size: medium;
}

.hc7 a {
    text-decoration: none;
}

.hc8 {
    width: 26vw;
    text-align: right;
    background: #5d1212;
    color: white;
    padding: 1vh;
    height: 7vh;
    border-radius: 4px;
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 122px;
    min-width: 97px;
    max-height: 43px;
}

.hc_ic {
    font-size: 1em;
    color: white;
    margin-right: 5px;
}


.spin_corona{
    font-size:3em;
    color: #460606;
    position: relative;
    animation: spin_corona 20s linear infinite;
    transform-origin: 43% 40%;
    
  }
  
  @keyframes spin_corona{
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg);
    }
  }


