.hc1 {
    height: 20vh;
    background-image: url('/imgs/1.jpg');
    background-size: cover;
    background-color: rgb(0 0 0 / 37%);
    background-blend-mode: color;
    position: absolute;
    width: 100%;
    padding: 2.5vh;
    display: flex;
    justify-content: space-between;
    min-height: 108px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px #5d1212;
}

.hc2 {
    position: fixed;
    width: 66vw;
    height: 100vh;
    background-color: #5d1212;
    z-index: 999;
    box-shadow: 0px 0px 16px 0px #5d1212d1;
    padding: 2.5vh;
    font-size: 0.89em;
}

.my_ic1 {
    font-size: 2em;
    color: white;
    cursor: pointer;

}

.hc3 {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.mcovid_title{
    color: ghostwhite;
    font-size: 1.5em;
    letter-spacing: 0.7px;
    font-weight: 100;
    text-align: center;
}

.mcovid_title::after{
    display: block;
    height: 0.5px;
    margin: 3px auto;
    width: 70%;
    background-color: ghostwhite;
    content: '';
    margin-bottom: 0;
}

.hc4 {
    height: 35vh;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.hc5 {
    height: 30vh;
}

.hc6 {
    height: 10vh;
    text-align: center;
}

.hc7 {
    height: 10vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.btn1 {
    width: 40vw;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 11px;
    margin-top: 10px;
    background: #500a0a;
    color: white;
    letter-spacing: 1.3px;
    outline: none;
    cursor: pointer;
    outline: none;
    font-size: 0.7em;
}

.ver,
.ver1 {
    color: wheat;
    font-size: 0.65em;
}

.ver1 {
    font-size: 0.65em;
    color: #9e0e0e;
}

.my_ic2 {
    color: #901a1a;
    padding: 2vh;
    font-size: medium;
}

.hc7 a {
    text-decoration: none;
}

.hc8 {
    width: 35vw;
    text-align: right;
    background: #5d1212;
    color: white;
    padding: 1vh;
    height: 10vh;
    border-radius: 4px;
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
    min-width: 124px;
    box-shadow: 0 0 8px 0px #a10013;
    min-height: 43px;
    max-height: 46px;
}

.hc_ic {
    font-size: 1em;
    color: white;
    margin-right: 5px;
}


.spin_corona {
    font-size: 3em;
    color: #460606;
    position: relative;
    animation: spin_corona 20s linear infinite;
    transform-origin: 23% 40%;

}

@keyframes spin_corona {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}


.reminbell {
    color: white;
    margin: 3px;
    font-size: 2em;
    animation: reminbell 15s linear infinite;
}

@keyframes reminbell {
    0% {
        transform: rotate(50deg);
    }

    1% {
        transform: rotate(-40deg);
    }

    2% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-20deg);
    }

    4% {
        transform: rotate(10deg);
    }

    5% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

.notificationPanel {
    position: absolute;
    /* border: 1px solid white; */
    width: 80vw;
    height: 77vh;
    background: white;
    left: 11vw;
    top: 10vh;
    border-radius: 3px;
    box-shadow: 0 0 7px #78010185;
    z-index: 25;
    animation: notificationPanelAnim 0.6s;
    overflow-y: auto;
    padding: 2vh;
    font-size: 0.7em;
    color: #bf6f71;
    line-height: 16px;
}

@keyframes notificationPanelAnim {
    0% {
        top: -100vh;
    }

    100% {
        top: 10vh;
    }
}

.notice {
    padding: 1vh;
    box-shadow: 0 0 4px #89010166;
    margin: 2vh;
    border-radius: 2px;
    background: lavenderblush;
}

.noticeUpdate {
    color: #a10013;
}

.reverseNotificationPanelAnim {
    animation: reverseNotificationPanelAnim 0.6s;
}


@keyframes reverseNotificationPanelAnim {
    0% {
        top: 10vh;
    }

    100% {
        top: -100vh;
    }
}


.heading {
    padding: 10px;
    text-align: center;
}

.loadinging {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}