body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no_compatibility_mobile {
  display: none;
}

@media screen and (min-width: 800px) {
  .compatibility_mobile {
    display: none;
  }

  .no_compatibility_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .no_compat {
    border: 1px solid gray;
    padding: 100px;
    border-radius: 4px;
    font-size: small;
    letter-spacing: 0.3px;
    line-height: 25px;
    text-align: center;
  }

}



/* Css from here */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.flex {
  display: flex;
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.article1 {
  /* height: 80vh; */
  width: 100%;
  padding-top: 20px;
}

header {
  width: 100vw;
  height: 20vh;
  min-height: 108px;
}


.slideInFromLeft {
  position: relative;
  animation: slideInFromLeft 0.5s;
}

@keyframes slideInFromLeft {
  0% {
    left: -50vw;
  }

  100% {
    left: 0;
  }
}

.slideOutFromLeft {
  position: relative;
  animation: slideOutFromLeft 0.5s;
  /* transition: all 0.3s; */
}

@keyframes slideOutFromLeft {
  0% {
    left: 0;
  }

  100% {
    left: -66vw;
  }
}

.flexCenterX {
  display: flex;
  justify-content: center;
}


.content2 {
  padding: 2vh;
  background: lavenderblush;
}

.content1 {
  padding: 2vh;
  background: white;
  height: 16vh;
  min-height: 103px;

}


svg {
  overflow: visible;
}

text {
  color: #a50404;
}

.grid {
  /* fill: lavenderblush; */
  color: rgb(255, 226, 236);
}

.vhpadtopbot1 {
  padding: 1vh 0;
}

footer {
  background-color: #5d1212;
  height: 15vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 10px #5d1212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
  bottom: 0px;
  font-size: small;
  letter-spacing: 0.5px;
  word-spacing: 6px;
  margin-top: 30px;
}

a {
  color: #e46969;
}

.colorfordark {
  color: #e46969;
}

.wayupanimation,
.wayupanimation1,
.wayupanimation2,
.wayupanimation3 {
  position: relative;
  animation: wayupanimation 1s;
}

@keyframes wayupanimation {
  0% {
    top: 20vh;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 0.8;
  }
}


.wayupanimation1 {
  position: relative;
  animation: wayupanimation1 1.2s;
}

@keyframes wayupanimation1 {
  0% {
    left: 22vh;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 0.8;
  }
}


.wayupanimation2 {
  position: relative;
  animation: wayupanimation 1.4s;
}

@keyframes wayupanimation2 {
  0% {
    left: 24vh;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 0.8;
  }
}


.wayupanimation3 {
  position: relative;
  animation: wayupanimation3 1.6s;
}

@keyframes wayupanimation3 {
  0% {
    left: 26vh;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 0.8;
  }
}

.wayupanimation4 {
  position: relative;
  animation: wayupanimation4 1.6s;
}

@keyframes wayupanimation4 {
  0% {
    left: 28vh;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 0.8;
  }
}


.fontwt100 {
  font-weight: 100;
}

.tryagainloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(89 23 30);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  z-index: 999999;
  color: white;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  font-size: 0.8em;
  text-align: center;
}

.recoveredBG {
  background-color: #bafbbaa1;
}

.deceasedBG {
  background-color: #96959529;
}

.confirmedBG {
  background-color: #ff000021;
}

.activeBG {
  background-color: #d5d5fb80;
}

.recoveredCo {
  color: #17da17;
}

.deceasedCo {
  color: #969595;
}

.confirmedCo {
  color: #ff0000;
}

.activeCo {
  color: #5a82f3;
}

.anyCo {
  color: #8a2be2a8;
}

.populationCo {
  color: #892be2;
}

.subCo {
  color: darkblue;
}

.delta {
  height: 21px;
  margin-top: 10px;
  font-weight: 500;
}

.fontSize1 {
  font-size: 1em;
}


.fontSize2 {
  font-size: 2em;
}


.fontSize3 {
  font-size: 3em;
}

.quickTitle {
  font-weight: 500;
}

.rotated180 {
  position: relative;
  transform: rotate(180deg);
}

* {
  transition: all 0.5s;
}

.animateAnchor {
  position: relative;
  animation: animateAnchor 0.4s linear infinite;
}

@keyframes animateAnchor {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(30deg);
  }

  75% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.fontwt600{
  font-weight: 600;
}

.removeAnimation{
  position: relative;
  animation: removeAnimation 1s;
}

@keyframes removeAnimation{
  0%{
    left: 0;
  }
  100%{
    left: 100vw;
  }
}