#cov_1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42vh;
}


.tx_mn{
    font-size: 0.6em;
}


.top_content_viw{
    height: 69vh;
    background: #fff0f56b;
    min-height: 77vh;
}